packages:
  yum:
    ImageMagick: []
    ImageMagick-devel: []
    ImageMagick-c++: []
    ImageMagick-c++-devel: []
    openssl-devel: []
    git: []
    mc: []
    make: []
    gcc: []
    make: []
    tmux: []
    gcc-c++: []
    freetype-devel: []
    fontconfig-devel: []
    pcre: []
    pcre-devel: []
    gperftools: []
    gperftools-devel: []

option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 6.2.2
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /static
    value: /static
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: npm start
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true
  - namespace: aws:elasticbeanstalk:hostmanager
    option_name: LogPublicationControl
    value: false

files:
  "/etc/nginx/conf.d/proxy.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
       client_max_body_size 20M;
  "/opt/elasticbeanstalk/env.vars":
    mode: "000775"
    owner: root
    group: users
    source: https://gist.githubusercontent.com/stanleycyang/f46492850ff42f2ce6e1/raw/9c949f72db95893218de2ab30b6ce385f66941c4/env.vars
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh":
    mode: "000775"
    owner: root
    group: users
    source: https://gist.githubusercontent.com/stanleycyang/f46492850ff42f2ce6e1/raw/a914cb3bf83c821a2a604bf4220b1ae8d8596da2/50npm.sh
  "/opt/elasticbeanstalk/hooks/configdeploy/pre/50npm.sh":
    mode: "000666"
    owner: root
    group: users
    content: |
       #no need to run npm install during configdeploy
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/40install_node.sh":
    mode: "000775"
    owner: root
    group: users
    source: https://gist.githubusercontent.com/stanleycyang/f46492850ff42f2ce6e1/raw/45b0b78a590bdb5f968fb3808fc1afd3e5163b65/40install_node.sh
